body {
	font-family: sans-serif;
}

h1, h2 {    
	color: gray;
}

h1 { 
	border-bottom: 1px solid black;
}

p {
	color: maroon;
}

p.green {
	color: green;
}
p.blue {
	color: blue;
}
p.aqua {
	color: aqua;
}
