body {
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	margin: 0px;
}

#header {
	background-color: #675c47;
	margin: 10px 10px 0px 10px;
	height: 108px;
}

/* #header img#headerSlogan {
	float: right;
} */

#headerSlogan {
	float: right;
}

#award {
	position: absolute;
	top: 30px;
	left: 365px;
}

div#tableContainer {
	display: table;
	border-spacing: 10px;
}

div#tableRow {
	display: table-row;
}

#drinks {
	display: table-cell;
	background: #efe5d0 url(images/background.gif) left;
	font-size: 105%;
	padding: 15px;
	vertical-align: top;
	width: 20%;
}

#main {
	display: table-cell;
	background: #efe5d0 url(images/background.gif) top left;
	font-size: 105%;
	padding: 15px;
	/* margin: 0px 10px 10px 10px; */
	vertical-align: top;
}

#sidebar {
	display: table-cell;
	background: #efe5d0 url(images/background.gif) bottom right;
	font-size: 105%;
	padding: 15px;
	/* margin: 0px 10px 10px 10px; */
	vertical-align: top;
}

#footer {
	background-color: #675c47;
	color: #efe5d0;
	text-align: center;
	padding: 15px;
	margin: 0px 10px 10px 10px;
	font-size: 90%;
}

h1 {
	font-size: 120%;
	color: #954b4b;
}

.slogan {
	color: #954b4b;
}

.beanheading {
	text-align: center;
	line-height: 1.8em;
}

a:link {
	color: #b76666;
	text-decoration: none;
	border-bottom: thin dotted #b76666;
}

a:visited {
	color: #675c47;
	text-decoration: none;
	border-bottom: thin dotted #675c47;
}