body {
	font-size: small;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	line-height: 1.6em;
}

h1, h2 {
	color: #007e7e;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

#guarantee {
	line-height: 1.9em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #444444;
	border-color: white;
	border-width: 1px;
	border-style: dashed;
	background-color: #a7cece;
	padding: 25px;
	padding-left: 80px;
	margin: 30px;
	margin-right: 250px;
	background-image: url(images/background.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

#elixirs {
	border-width: thin;
	border-style: solid;
	border-color: #007e7e;
	width: 200px;
	padding: 20px;
	padding-top: 0px;
	/* padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	 */
	margin-left: 20px;
	text-align: center;
	background-image: url(images/cocktail.gif);
	background-repeat: repeat-x;
	line-height: 1em;
}

#elixirs h2 {
	color: black;
}

#elixirs h3 {
	color: #d12c47;
}

#footer {
	font-size: 50%;
	text-align: center;
	line-height: normal;
	margin-top: 30px;
}

.cd {
	font-style: italic;
}

.artist {
	font-weight: bold;
}

a:link {
	color: green;
}

a:visited {
	color: red;
}

a:hover {
	color: yellow;
}